@{
    ViewBag.Title = "Home";
}

<h1>Google Calendar Integration Demo</h1>
<br />
<h5>@TempData["Success"]</h5>
<br />
@using (Html.BeginForm("SyncToGoogleCalendar", "Home"))
{
    <input class="button" id="submit" type="submit" value="Sync to Google Cal" />
}